services:
  redis-cluster:
    image: grokzen/redis-cluster:latest
    container_name: redis-cluster
    platform: linux/amd64
    environment:
      - IP=127.0.0.1
      - INITIAL_PORT=7010
    ports:
      - "7010-7015:7010-7015"

  redis-master:
    image: redis:7-alpine
    container_name: redis-master
    ports:
      - "6380:6379"

  redis-replica:
    image: redis:7-alpine
    container_name: redis-replica
    command: ["redis-server", "--replicaof", "redis-master", "6379"]
    depends_on:
      - redis-master

  redis-sentinel:
    image: bitnami/redis-sentinel:latest
    container_name: redis-sentinel
    environment:
      - REDIS_SENTINEL_QUORUM=1
      - REDIS_SENTINEL_MASTER_NAME=mymaster
      - REDIS_MASTER_HOST=redis-master
      - REDIS_MASTER_PORT_NUMBER=6379
    ports:
      - "26379:26379"
    depends_on:
      - redis-master
      - redis-replica
